<!DOCTYPE html>
<head>
	<title>Cryptography Mini Project</title>
  <link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="
	sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <style>
        #header{
            width: 100%;
            height: 200px; background-color: brown;
            color: wheat;
        }
        #header>img{
            position: absolute;
            top:45px;
            right: 30px;
        }
        button{
            height: 30%;
            width: 50%;
        }
        table{
            margin-left: 5%;
            width: 50%;
        }
    </style>
</head>
<body>
	<div id="header">
        <h3>Nobin Johnson - ENG18CS0197</h3>
        <h3>Rahul Noronha - ENG18CS0222</h3>
        <h4>Cryptography Mini Project</h4>
        <h5>Dayananda Sagar University</h5>
        <img src="/static/DSUlogo.png"/>
    </div>
    {% block content %}
    {% endblock %}

    </body>