{% extends 'base.html' %}
{% block content %}
    <form method="POST">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"><h1>Please Enter the Plaintext/Ciphertext</h1></label>
            <input type="text" name="text"class="form-control" id="exampleFormControlInput1">
          </div>
          <br>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Encrypt" value="Encrypt" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Encrypt
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="Decrypt" name="Encrypt" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              Decrypt
            </label>
          </div>
          <br>
          <table>
              <tr>
                  <td><div class="form-check">
                    <input class="form-check-input" type="radio" name="Algorithm" value="Ceasar" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      Caeser cipher
                    </label>
                  </div>
                </td>
                <td>
                </td>
                <td>
                </td>
              </tr>
              <tr>
                <td><div class="form-check">
                  <input class="form-check-input" type="radio" name="Algorithm" value="Columnar" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Columnar Transposition
                  </label>
                </div>
              </td>
              <td>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Key</label>
                    <input type="number" class="form-control" name="columnar-key" id="exampleFormControlInput1" placeholder="Please Enter a number">
                  </div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
                <td><div class="form-check">
                  <input class="form-check-input" type="radio" name="Algorithm" value="Hill" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                   Hill Cipher
                  </label>
                </div>
              </td>
              <td>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Matrix Size</label>
                    <input type="number" class="form-control" name="hill_size" id="exampleFormControlInput1" placeholder="Enter the size of the Matrix">
                  </div>
              </td>
              <td>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Matrix Content</label>
                    <input type="text" class="form-control" name="hill_key" id="exampleFormControlInput1" placeholder="Enter the key matrix in (1,1),(1,2)(2,1) format seperated by a comma">
                  </div>
              </td>
              </tr>
              <tr>
                <td><div class="form-check">
                  <input class="form-check-input" type="radio" name="Algorithm" value="keyed-Columnar" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Keyed-Columnar Transposition
                  </label>
                </div>
              </td>
              <td>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Key</label>
                    <input type="text" class="form-control" name="key_column_key" id="exampleFormControlInput1" placeholder="Please Enter the key">
                  </div>
              </td>
              <td>
              </td>
              <tr>
                <td><div class="form-check">
                  <input class="form-check-input" type="radio" name="Algorithm" value="Monoalphabetic" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Monoalphabetic Cipher
                  </label>
                </div>
              </td>
              <td>
              </td>
              <td>
              </td>
              <tr>
                <td><div class="form-check">
                  <input class="form-check-input" type="radio" name="Algorithm" value="otp" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    One Time Pad Cipher
                  </label>
                </div>
              </td>
              <td>
              </td>
              <td>
              </td>
              <tr>
                <td><div class="form-check">
                  <input class="form-check-input" type="radio" name="Algorithm" value="playfair" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Playfair Cipher
                  </label>
                </div>
              </td>
              <td>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Key</label>
                    <input type="text" class="form-control" name="playfair-key" id="exampleFormControlInput1" placeholder="Please Enter the key">
                  </div>
              </td>
              <td>
              </td>
              <tr>
                <td><div class="form-check">
                  <input class="form-check-input" type="radio" name="Algorithm" value="Polyalphabetic" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    PolyAlphabetic Cipher
                  </label>
                </div>
              </td>
              <td>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Key</label>
                    <input type="text" class="form-control" name="polyalphabetic-key" id="exampleFormControlInput1" placeholder="Please Enter the key">
                  </div>
              </td>
              <td>
              </td>
              <tr>
                <td><div class="form-check">
                  <input class="form-check-input" type="radio" name="Algorithm" value="Railfence" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Railfence Cipher
                  </label>
                </div>
              </td>
              <td>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Depth</label>
                    <input type="number" name="railfence_depth" class="form-control" id="exampleFormControlInput1" placeholder="Please Enter the depth">
                  </div>
              </td>
              <td>
              </td>
              <tr>
                <td><div class="form-check">
                  <input class="form-check-input" type="radio" name="Algorithm" value="Shift" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Shift Cipher
                  </label>
                </div>
              </td>
              <td>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Key</label>
                    <input type="number" name="shift_key" class="form-control" id="exampleFormControlInput1" placeholder="Please Enter a number">
                  </div>
              </td>
              <td>
              </td>
              </tr>
              <td>
              </td>
              <td>
              <button type="submit" class="btn btn-success">Submit</button>
              </td>
              <td>
              </td>
            </table>
        </form>
</body>
{% endblock %}
